CONFIG_COMPILER_CXX_RTTI=y
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_EXCEPTIONS_EMG_POOL_SIZE=512
CONFIG_LWIP_NETIF_API=y
CONFIG_FREERTOS_TLSP_DELETION_CALLBACKS=n
CONFIG_SPI_FLASH_ENABLE_ENCRYPTED_READ_WRITE=n
CONFIG_ESPHID_TASK_SIZE_BT=0
CONFIG_ESPHID_TASK_SIZE_BLE=0
